---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/BlogPost.astro';
import { getEntry, render } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

// const post = await getEntry('blog', params.slug);
// const { Content, headings } = await render(post);

---

<Layout
	title="Hi, I'm Chris"
	description="Introduction to me"
	pubDate={new Date('September 28 2023')}
	chrisImage="../images/chris.jpeg"
	chrisImageAlt="A picture of Chris Bauer, blue eyes, light skin, smiling"	
	hideDate={true}	
	>

	<p>Hello! I created my first website about my favorite punk bands a long time ago. I've since spent time as a project manager at a web agency, a designer for a rap record label, and a freelancer doing all of the above at once.</p>
	<p>I help make awesome websites as a front-end developer at CivicActions.</p>

	<p>Web development is great because it elegantly combines creativity and analytic thinking.</p>
	
	<p>When not working, I can be found volunteering with the California YMCA leadership program Youth & Government, stand up paddleboarding, playing golf, and powerlifting. I was born and raised right here in San Diego, CA. My eternal love is available for purchase in exchange for a pint of Sculpin beer.</p>
</Layout>
