---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import Logo from "../images/cb-logo.svg";
---

<header>
  <nav>
    <div class="nav-left">
      <Logo class="logo" width="50" height="50" />
    </div>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/gallery">Photo Gallery</HeaderLink>
    </div>

    <div id="mobile-nav" popover>
      <button
        popovertarget="mobile-nav"
        popovertargetaction="hide"
        aria-label="close menu"
        class="menu-toggle menu-close"
      >
        X
      </button>

      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/gallery">Photo Gallery</HeaderLink>
    </div>

    <button
      class="menu-toggle"
      popovertarget="mobile-nav"
      aria-label="Open menu"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M4 7H20" stroke="black" stroke-width="4" stroke-linecap="round"
        ></path>
        <path
          d="M4 17H14"
          stroke="black"
          stroke-width="4"
          stroke-linecap="round"></path>
      </svg>
    </button>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-color: var(--accent);
  }
  .nav-left {
    flex: 1;
  }
  .logo {
    color: var(--accent);
  }
  .internal-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
  #mobile-nav {
    display: none;
    translate: 0 -100%;
    transition:
      translate 0.3s ease,
      overlay 0.3s ease allow-discrete,
      display 0.3s ease allow-discrete;
  }

  #mobile-nav:popover-open {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 36px;
    font-weight: bolder;
    background: rgba(255, 255, 255, 0.95);
    padding: 10rem 5rem;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    translate: 0 0;
    transition:
      translate 0.3s ease,
      overlay 0.3s ease allow-discrete,
      display 0.3s ease allow-discrete;
  }
  @starting-style {
    #mobile-nav:popover-open {
      translate: 0 -100%;
    }
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  .menu-toggle {
    display: none;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
    .menu-toggle {
      display: block;
      appearance: none;
      background: none;
      border: none;
      cursor: pointer;
    }
    .menu-close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 3rem;
    }
    .internal-links {
      display: none;
    }
    nav a {
      padding: 0.5em 0.5em;
      border-bottom: 0px solid transparent;
      border-left: 8px solid transparent;
      text-decoration: none;
    }
  }
</style>
